#place{
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/544/944/original/room-interior-background-illustration-bedroom-cartoon-living-room-kids-bedroom-with-furniture-teenage-room-with-bed-kid-or-child-room-with-toys-and-pictures-free-vector.jpg");
    width: 90vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#plusNewPoint {
    position: absolute;
    bottom: 50px;
    right: 50px;
    border:solid 1px rgb(85, 214, 182) ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 36pt;
    
    background-color: rgb(85, 214, 182) ;;
}

.point{
    padding:10px;
    position: absolute;    
    width: 50px;
    height: 50px;
    top:50%;
    left:50%;
    border:solid 1px #fff;
    border-radius: 50%;
    background-color: red ;
}
.active{
    animation:impuls 1s infinite ease;
    transition: all;
    box-shadow: 0px 0px 0px;
}

@keyframes impuls {
    0%{
        box-shadow: 0px 0px 0px rgba(40,40,40,1);
        width: 50px;
        height: 50px;
    }
    70%{
        
        width: 50px;
        height: 50px;
    }
    80%{
        width: 48px;
        height: 48px;
    }
    90%{
        width: 50px;
        height: 50px;
    }
    95%{
        width: 49px;
        height: 49px;
    }
    100%{
        box-shadow: 0px 0px 50px rgba(40,40,40,0);
        width: 50px;
        height: 50px;
    }
}